@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Roboto"),
       /* Если не получилось, загрузит woff2 */
       url("/fonts/Roboto-Regular.woff2") format("woff2"),
       /* Если браузер не поддерживает woff2, загрузит woff */
       url("/fonts/Roboto-Regular.woff") format("woff");
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FB565A;
  transition: .5s;
  
}

a:active {
  color: #000;
  opacity: 0.25; 
}

.header {
  width: 100%;
  height: 335px;
  background-color: #EEEEEE;
}

.container {
  max-width: 1157px;
  margin: 0 auto;
}

.header__inner {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo:active {
  opacity: 0.25;
}

.menu {
 padding-top: 15px;
 margin-left: -35px;
 color: #000;
}

.menu__list {
  display: flex;
}

.menu-item {
  list-style-type: none;
  padding-right: 50px;
}

.menu-item__link {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.menu-item__link--active {
  padding-bottom: 14px;
  border-bottom: 2px solid #FB565A;
}

.cart {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 600;
  color: #000;
  position: relative;
  padding-left: 45px;
}

.cart__icon{
  position: absolute;
  top: 16px;
  left: 5px;
}

.footer__inner {
  display: flex;
  align-items: center;
  
  height: 200px;
}

.social {
  margin-top: 10px;
  margin-left: -5px;
  width: 35%;
  display: flex;
  justify-content: flex-start;
}

.social__link {
  margin: 5px;
  display: flex;
  border-radius: 50%;
  background-color: #E1E1E1;
  width: 80px;
  height: 80px;
}

.social__img {
  width: 25px;
  height: 25px;
  margin: auto;
}

.footer-text__content {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 0px;
}

.footer-text__content--bold {
  font-size: 36px;
  letter-spacing: 0.6px;
  font-weight: 700;
  line-height: 0px;
}